<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<h4>Register Here</h4>
<form action="" method="POST">
    {% csrf_token %}
    <label>Username</label>
    <input type="text" name="username">
    <br>
    <br>
    <label>Email</label>
    <input type="text" name="email">
    <br>
    <br>
    <label>Password</label>
    <input type="password" name="password1">
    <br>
    <br>
    <label>Confirm Password</label>
    <input type="password" name="password2">
    <br>
    <br>
    <input type="submit" name="submit" value="register">
</form>
</body>
</html>